
  <header class="page-header">
    <h1>About Us</h1>
  </header>

<h5> Welcome to the jungle website. We are a small business trying to sell our unique products at a fraction of the price of big brand businesses. Take a look around and give us a thumbs up on our social media platforms if you enjoy our products. Happy Shopping!
</h5>
